@use "breakpoints" as *;

@mixin f110 {
  font-size: 10vw;
  line-height: 12vw;

  @include media-breakpoint-up(lg) {
    font-size: 110px;
    line-height: 130px;
  }
}
 
@mixin f75 {
  font-size: clamp(35px, 6vw, 75px);
  line-height: 75px;
}

@mixin f28 {
  font-size: clamp(21px, 1.8vw, 28px);
  line-height: clamp(32px, 2.3vw, 42px);
}

@mixin f24 {
  font-size: 24px;
  line-height: 36px;
}
